@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
/* Vertical scrollbar for Y scroll (page scroll) */
body::-webkit-scrollbar {
  width: 12px;
}
*{
  font-family:     Verdana;
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #8b5cf6, #d946ef);
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #d946ef, #8b5cf6);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
